* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Byekan;
    src: url(fonts/Byekan.ttf) format(TrueType),
    url(fonts/Byekan.woff) format(woff);
}
body {
    font-family: Byekan;
    background-color: #6b89ed;
}
.head {
    position: relative;
    height: 480px;
    width: 720px;
    box-shadow: 0 0 40px rgb(40, 40, 40);
    border-radius: 15px 40px 15px 40px;
    margin: 150px auto;
}
.card {
    position: absolute;
    height: 500px;
    width: 320px;
    box-shadow: 0 0 40px rgb(40, 40, 40);
    border-radius: 15px 40px 15px 40px;
    right: 40px;
    bottom: 30px;
    overflow: hidden;
}
.pic {
    height: 310px;
    width: 100%;
}
.card p {
    font-size: 19px;
    margin-top: 5px;
    margin-right: 20px;
    line-height: 1.7;
}
.card i {
    font-size: 20px;
}
.text {
    position: absolute;
    left: 0;
    width: 320px;
    height: 320px;
    text-align: justify;
    line-height: 1.5;
    left: 30px;
    top: 30px;
    font-size: 17px;
}